/* Police de charactere */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
/* root = racine on peut stocker nos variable ici pour les utiliser plus facilement depui d'autre css javascrip et autre encore ses variable couleur sont universel */
:root{
    --title: #f8c27a;
    --textShadow:0 2px 2px rgba(0,0,0,.7);
    --boxShadow:0 0px 10px rgba(0,0,0,.2);
}
/* reset css box sizing pour dimentionner  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2{
    color: purple;
    text-shadow: var(--textShadow);
    font-size: 30px;
    margin-bottom: 15px;
}
body{
    font-size: 14px;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    /* racourci df
    jcc
    aic */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
h1{
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 15px;
    /* couleur a customiser */
    color: purple;
    /* rapelle de la variable text shadow de la root */
    text-shadow: var(--textShadow);
    /* display inline block(dib)  pour que l'ombre ne prenne pas toute la largeur*/
    display: inline-block;
    font-size: 35px;
}
/* Icon importer du site Ion icon la balise sera ion-icon */
ion-icon{
    font-size: 50px;
    fill: black;
    border-color: black;
}
/* pour travail sur des balise qui doivent avoir le même styles on utilise , */
input,
button{
    outline: none;
    border: none;
    padding: 3px 20px;
    border-radius: 5px;
}
/* button style */
button{
    background-color: teal;
    cursor: pointer;
    transition: all 0.2s;
}
/* pour que l'utilisateur se rende compte de l'utiliter du bouton */
button:hover{
    transform: translateY(-2px);
    background-color: rgb(0, 184, 184);
}
p#message{
    margin: 20px auto 0 auto;
}
/*                          class */
/* la boite globale */
.container{
    background-color: rgba(255,255,255,0.2);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: var(--boxShadow);
}
/* pour espacer les coeur */
.vies{
    margin: 10px;
}
/*------------------------------------- id */
/* Formulaire */
#inputBox{
    background-color: #96e6a1;
    padding: 15px;
    border-radius: 5px;
}
#inputBox > label{
    /* input mange la ligne */
    display: block;
    margin-bottom: 8px;
}
/* button pour recomencer */
#rejouer{
    display: none;
    margin: 5px auto 0 auto;
}
/* astuce pour le joueur */
#details{
    font-weight: bold;
    font-size: 20px;
    margin-top: 5px;
}
#pacman{
    display: none;
}
#boxi{
    display: flex;
    align-items: center;
}
#difficulter{
    margin-right: 50px;
    padding: 15px;
    height: 25%;
}
.btn{
    padding: 35px;
    color: goldenrod;
    font-size: 35px;
}
#liste{
    margin-top: 25px;
    padding: 15px;
}
#Choixutilisateur{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#choix{
    width: 90%;
}
#restart{
    padding: 20px;
    font-size: 25px;
    color: goldenrod;
}
@media(max-width: 1200px){
    ion-icon{
        font-size: 50px;
    }
    h1{
        font-size: 30px;
    }
    #details{
        font-size: 22px;
    }
    .btn{
        padding: 22px;
        margin: auto;
        font-size: 22px;
    }
    #choix{
        width: 90%;
    }
    #difficulter{
        margin-right: 15px;
        margin-left: 15px;
    }
    #jeux{
        margin-right: 15px;
        margin-left: 15px;
    }
    #Txt{
        font-size: 25px;
    }
    #message{
        font-size: 25px;
    }
    label{
        font-size: 25px;
    } 
}
@media (max-width:768px){
    ion-icon{
        font-size: 40px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    .btn{
        padding: 16px;
        margin: auto;
        font-size: 16px;
    }
    #choix{
        width: 90%;
    }
    #details{
        font-size: 16px;
    }
    #boxi{
        flex-direction: column;
        justify-content: center;
    }
    #difficulter{
        margin: 0;
        margin-bottom: 15px;
    }
    #Txt{
        font-size: 20px;
    } 
    #message{
        font-size: 20px;
    }
    label{
        font-size: 20px;
    }
}
@media (max-width:576px){
    ion-icon{
        font-size: 20px;
    }
    h1{
        font-size: 12px;
    }
    h2{
        font-size: 11px;
    }
    .btn{
        padding: 10px;
        margin: auto;
        font-size: 10px;
    }
    #choix{
        width: 90%;
    }
    #details{
        font-size: 10px;
    }
    #boxi{
        flex-direction: column;
        justify-content: center;
    }
    #difficulter{
        margin: 0;
        margin-bottom: 15px;
    }
    #Txt{
        font-size: 10px;
    }
    #message{
        font-size: 10px;
    }
    label{
        font-size: 10px;
    }
}
